{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
<!-- to check if shows is defined and there is a least one show available in the database -->
{% if areas is defined and areas|length %}
	{% for area in areas %}
	<h3>{{ area.city }}, {{ area.state }}</h3>
		<ul class="items">
			{% for venue in area.venues %}
			<li>
				<!-- <a href="/venues/{{ venue.id }}"> -->
					
					<div class="item">
						<h5><i class="fas fa-music"></i> &nbsp; <a href="/venues/{{ venue.id }}">{{ venue.name }}</a>  <button data-id="{{ venue.id }}" class="btn btn-xs btn-danger delete-venue">&cross;</button></h5>
						<!-- <h5>{{ venue.name }}</h5> -->
					</div>
				
			</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% else %} 
<h4>No venues available, visit the <a href="/">homepage</a> to publicize about your show for free.</h4>
{% endif %}
<script type="text/javascript">
	/* LISTENING FOR A DELETE ACTION **/
	const deleteBtns = document.querySelectorAll('.delete-venue');
	for (let i = 0; i < deleteBtns.length; i++) {
		const btn = deleteBtns[i];
		btn.onclick = function(e) {
			const venueId = e.target.dataset['id'];
			fetch('/venues/' + venueId, {
				method: 'DELETE'
			}).then(() => {
				// const item = e.target.parentElement;
				// item.remove();
				window,location.href = '/';
				// console.log(venueId);
			}).catch((e) => {
				console.log(e);
			})
		}
	}
</script>
{% endblock %}