{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/venues/{{venue.id}}/edit">
      {{ form.csrf_token }}
      <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true, value=venue.name) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true, value=venue.city) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true, value=venue.state) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true, value=venue.address) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value=venue.phone) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <div class="genres">
          {% for genre in venue.genres %}
          <span class="genre">{{ genre }}</span>
          {% endfor %}
        </div>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true, value=venue.genres) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true, value=venue.facebook_link) }}
       </div>
      
       <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true, value=venue.image_link) }}
       </div>

       <div class="form-group">
              <label for="website_link">Website Link</label>
              {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true, value=venue.website) }}
        </div>

        <div class="form-group">
             <label for="seeking_talent">Looking for Talent</label>
             {{ form.seeking_talent(placeholder='Venue', autofocus = true, checked=venue.seeking_talent) }}
        </div>

        <div class="form-group">
            <label for="seeking_description">Seeking Description</label>
            {{ form.seeking_description(class_ = 'form-control', autofocus = true, value=venue.seeking_description) }}
          </div>
      
      <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>

  
<!-- adding JavaScript to dynamically show a venue previous genres before editing -->
<script type="text/javascript">
  window.onload = () => {
    console.log('working');
    // to get a specific venue genres
    // to get current venue id from the url
    venue_id = parseInt(window.location.href.split('/')[4]);
    // to check if the value is a type of int
    if (typeof venue_id === 'number') {
      // to get venue genres from the back-end
      fetch('/get_venue_genres/' + venue_id, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          }
        }).then((response) => {
          return response.json();
        }).then((response) => {
          // venue previous genres
          const previous_venue_genres = response.venue_genres;
          // getting the edit page select options
          const venue_genres_select_options = document.getElementById('genres');
          // looping through the options and then adding a select if it was
          //  previously selected
          for(i = 0; i < venue_genres_select_options.options.length; i++) {
            // to store the current select option value from the loop
            const currunt_option_value_from_loop = venue_genres_select_options[i].value;
            // to add selected attribute base on previous venue genre options
            if (previous_venue_genres.indexOf(currunt_option_value_from_loop) > -1){
              // adding selected to any option that was previously selected
              venue_genres_select_options[i].setAttribute('selected', '');
            }
          }
        }).catch((e) => {
          console.log(e);
        })
    }
  }
</script>
{% endblock %}

